@import './variables/index';
@import 'normalize.css/normalize';
@import './fonts';
@import './mixins/index';
@import './layouts/index';
@import './components/index';
@import './helpers/index';
@import './pages/example';

body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
