<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="{{ class }}">
	<use xlink:href="./assets/images/icons.svg#{{ id }}"></use>
</svg>
