//- Defaut meta
meta(charset="utf-8")
meta(name="format-detection" content="telephone=no")
meta(
    name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
)
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="Awesome build PUG description")
meta(name="keywords" content="awesome, build, pug")
link(
    rel="alternate"
    href="https://bitbucket.org/walkerz/gulp-template/src/master"
    hreflang="ru-ru"
)
//- End Defaut meta

//- Default opengraph
meta(property="og:url" content="https://bitbucket.org/walkerz/gulp-template/src/master")
meta(property="og:locale" content="ru-ru")
meta(property="og:rich_attachment" content="true")
meta(property="og:site_name" content="GulpTemplate")
meta(property="og:type" content="business.business")
meta(property="business:contact_data:street_address" content="Russia, Moscow, Street 16")
meta(property="business:contact_data:locality" content="Moskow")
meta(property="business:contact_data:postal_code" content="117638")
meta(property="business:contact_data:country_name" content="Russia")
meta(property="place:location:latitude" content="55.664040")
meta(property="place:location:longitude" content="37.597971")
meta(property="business:contact_data:email" content="info@test.email")
meta(property="business:contact_data:phone_number" content="+7-999-999-99-99")
//- End Default opengraph