.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.content,
.footer {
  padding: 16px 0;
}

.content {
  flex: 1 1 auto;
}

.wrapper {
  max-width: $max-width + $common-padding * 2;
  padding: 0 $common-padding;
  margin: 0 auto;
}
