mixin icon(id)
    svg(
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        class!=attributes.class
    )
        use(xlink:href="./assets/images/icons.svg#" + id)

